@model WebProject.Models.CoffeShopViewModel
@{
    Layout = "CoffeShopPages/_LayoutCoffeShop";
}

<!-- Products -->
<section class="products" id="products">
    <div class="heading">
        <h2>Our popular products</h2>
    </div>
    <!-- Container -->
    <div class="products-container">
        @foreach (var product in Model.CoffeeProducts)
        {
            <div class="box">
                <img src="@product.Img" alt="" />
                <h3>@product.Name</h3>
                <div class="content">
                    <span>$@product.Cell</span>
                    <a href="#">Buy</a>
                </div>
            </div>
        }
    </div>
    <div class="show-more-container">
        <a href="#" class="show-more-link">Show More</a>
    </div>
</section>
<!-- Customers -->
<section class="customers" id="customers">
    <div class="heading">
        <h2>Our Customer's</h2>
    </div>
    <!-- Container -->
    <div class="customers-container">
        @foreach (var userComments in Model.UserComments)
        {
            <div class="box">
                <img src="@(string.IsNullOrEmpty(userComments.Img) ? "/image/default.jpg" : userComments.Img)" alt="User Image" />
                <h2>@userComments.Name</h2>
                <p>
                    @userComments.Comments
                </p>
            </div>
        }

    </div>
</section>